.App {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
}
